@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

/* This the css for the body in genreal */
body {
	width:100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

/* this is for the music papge text*/
.totaltime {
	font-size: 30px;
	font-family: 'Chewy', cursive;
	text-align: center;
	color: #DE553A;
	
}

.musicswitch{
	color: #DE553A;
	text-shadow: 1px 1px black;
	font-size: 20px;
	font-family: 'Chewy', cursive;
	text-align: center;
}
.musictitle{
	color: #DE553A;
	text-shadow: 2.5px 2.5px black;
	font-size: 40px;
	font-family: 'Chewy', cursive;
	text-align: center;
	
}

/*This is the code for the flip card on the music.php*/
.flip-card {
	background-color: transparent;
	width: 200px;
	height: 200px;
	perspective: 1000px;
	margin-left: 4%;
	margin-top:60px;
	float: left;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 8px 8px 4px rgba(0,0,0,0.2);
  border: 2px solid black;
	
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  
}

.flip-card-back {
  background-color: #DE553A;
  color: white;
  transform: rotateY(180deg);
    border: 1px solid black;
	overflow-y: auto;
  
}

.flip-card-back h1{
font-family: 'Luckiest Guy', cursive;
text-decoration: underline;
	font-size: 22px;
	
  
}

.flip-card-back p{
font-family: 'Luckiest Guy', cursive;
}

/* This is the banner for index.php*/
.banner {
	background-image: URL('images/banner1.jpg');
	background-repeat: no-repeat;
	position: absolute;
	background-size: cover;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index:-999;
}

/*The css for the login heading on login.php*/
.login_text{
	margin: 10% 10% 10% 15%;
	color: #DE553A;
	text-shadow: 5px 5px black;
}

/*The css for the signup heading on signup.php*/
.signup_text{
	margin: 10% 10% 10% 15%;
	color: #DE553A;
	text-shadow: 5px 5px black;
}

/*The css for h3 and h2 for the general use throughout the website*/
h2 {
	font-family: 'Chewy', cursive;
	font-size: 110px;
}

h3 {
	font-family: 'Chewy', cursive;
	font-size: 20px;
	opacity: 0.2;
	bottom: -2%;
	position: absolute;
	margin-left: 32%
}

/* code for the content*/
.content {
	width: 400px;
	height: 200px;
	background-color: #DE553A;
	border: 2px solid black;
	margin-left: 10%;
	margin-top: -10%
}

/* logout button css*/
.logout_btn {
	width: 70px;
	height: 40px;
	background-color: #DF7661;
	right: 0;
	position: absolute;
	margin-right: 1%;
	margin-top: 2.5%;
	border: 1px solid black;
}

/* content for the profile page*/
.profilecontent {
	width: auto;
	height: auto;
	margin-left: 11%;
	margin-top: -3.5%;
}
.title{
	margin-left: 13%;
	margin-top: 100px;
	color: #DE553A;
	text-shadow: 5px 5px black;
	z-index: 6;
}

/* This is for the first section for the profile page*/
.section1 {
	background-color: #DE553A;
	width: 400px;
	height: 190px;
	border: 2px solid black;
	margin-top: 1.5%;
}

/* log out button on the profile page*/
.btn_logout {
	width: 404px;
	height: 50px;
	border: 2px solid black;
	margin-top: 1%;
	background-color: #DE553A;
}
/* sections for profile page*/
.section2 {
	background-color: #DE553A;
	width: 400px;
	height: 125px;
	border: 2px solid black;
	margin-top: 1.5%;
}

.section3 {
	background-color: #DE553A;
	width: 400px;
	height: 255px;
	border: 2px solid black;
	margin-top: 1.5%;
	overflow: auto;
}

/* customizing the inoput area and labels of forms on profile*/
.section1 input[type=text], .section2 input[type=text] {
	margin-left: 12px;
	border-radius: 8px;
	padding: 6px 6px;
	width: 350px;
}

.section1 label{
	padding: 12px 0px 4px 12px;
	display: inline-block;
	font-family: 'Chewy', cursive;
	color: white;
	text-shadow: 2px 2px black;
}

/* IDs for password and username heading on show user */
#UserTitle, #PasswordTitle{
	background-color: #DF7661;
}
.UserDisplay, .PasswordDisplay{
	width: 165px;
	height: 40px;
	background-color: white;
	border: 2px solid black;
	margin: 5px;
	text-align: center;
	padding-top: 4%;
	font-family: 'Luckiest Guy', cursive;
	color: black;
}

.UserDisplay{
	float: left;
}

.PasswordDisplay {
	float: right;
}

/* title for contact page*/
.contacttitle{
	margin-left: 8%;
	margin-top: 0px;
	color: #DE553A;
	text-shadow: 5px 5px black;
	z-index: 6;
}

/* Burger menu code*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.8);
  overflow-x: hidden;
  transition: 0.8s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: white;
  display: block;
  transition: 0.5s;
  font-family: 'Rampart One', cursive;
}

.overlay a:hover, .overlay a:focus {
  color: white;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* code spefically when the screen is smaller*/
@media screen and (max-height: 678px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
  
}

/* Code for the search bar on the index page*/
.search {
  width: 100%;
  position: relative;
  display: flex;
  
}

.searchTerm {
  width: 100%;
  border: 2px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: black;
}

/* lbal code for forms in general across the websute*/
label{
	padding: 12px 12px 4px 12px;
	display: inline-block;
	font-family: 'Chewy', cursive;
	color: white;
	text-shadow: 2px 2px black;
}

textarea{
	border-radius: 8px;
	margin-left: 12px;
	max-width: 360px;
	min-width: 360px;
	max-height: 100px;
	min-height: 100px;
	border: 1px solid black;
}

.column2 input[type=text]{
	margin-left: 12px;
	border-radius: 8px;
	padding: 6px 6px;
	width: 350px;
}


input[type=password]{
	margin-left: 12px;
	border-radius: 8px;
	padding: 6px 6px;
	width: 350px;
}

input[type=submit] {
	background-color: #4CAF50;
	color: black;
	margin-top: 10px;
	margin-left: 12px;
	padding: 8px 12px;
	border: 1px solid black;
	border-radius: 8px;
	cursor: pointer;
	float: left;
} 

/* search bar code again*/
.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 34px;
  border: 2px solid black;
  background: white;
  text-align: center;
  color: black;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 45%;
  position: absolute;
  top: 45%;
  left: 33%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

p  a{
	position: absolute;
	margin-left: 165px;
}

/* background image for profile/contact/login/signup */
.rightbackground{
    background-image: url('images/loginart2.jpg');
	border: solid 1px black;
	position: absolute;
	width:50%;
	top: 0;
	right: 0;
	bottom: 0;
	z-index:-999;
}
.contact{
	width: 400px;
	height: 420px;
	background-color: #DE553A;
	border: 2px solid black;
	margin-left: 11%;
	position: absolute;
	top: 34%;
}
/* when screen size is 1070px*/
@media screen and (max-width: 1070px) {
.profilebackground{
    background: linear-gradient(180deg, white 50%, #DE553A 50%);
}

.rightbackground{
    background-image: url('images/loginart2.jpg');
	border: solid 1px black;
	position: absolute;
	width:100%;
	height: 50%;
	transform: scaleX(-1);
	background-size: cover;
	top: 50%;
	right: 0;
	bottom: 0;
	z-index:-999;
}

.content {
	width: 400px;
	height: 200px;
	background-color: #DE553A;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%
}

.login_text{
	margin: 10% 10% 10% 37%;
	color: #DE553A;
	text-shadow: 5px 5px black;
}
}

/* when the screen size is 670px*/
@media screen and (max-width: 670px) {
  .overlay .closebtn {
  top: 15px;
  right: 35px;
  }
  
.title{
	margin-left: 6%;
	margin-top: 10%;
	color: #DE553A;
	text-shadow: 5px 5px black;
	z-index: 6;
	text-align: center;
}

h3 {
	bottom: -2%;
	position: absolute;
	margin-left: 4%
}

.wrap{
  width: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.login_text{
	margin-left: 6%;
	margin-top: 10%;
	color: #DE553A;
	text-shadow: 5px 5px black;
	z-index: 6;
	text-align: center;
}
}

/* Code below this is used when the browser width is 594px or smaller*/
@media screen and (max-width: 594px) {
  .overlay .closebtn {
  top: 15px;
  right: 35px;
  }
 
 .contacttitle{
	margin-left: 5%;
}

.title{
	margin-left: 6%;
	margin-top: 10%;
	color: #DE553A;
	text-shadow: 5px 5px black;
	z-index: 6;
	text-align: center;
}

h3 {
	bottom: -2%;
	position: absolute;
	margin-left: 4%
}

.wrap{
  width: 80%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.login_text{
	margin-left: 6%;
	margin-top: 10%;
	color: #DE553A;
	text-shadow: 5px 5px black;
	z-index: 6;
	text-align: center;
}

.content {
	margin-top:-15%
}
}

.profile_img{
	width: 25px;
	height: 25px;
}
.btn {
  background-color: white;
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  top: 3%;
  right: 1%;
  position: fixed;
  border: 1px solid black;
  border-radius: 35px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #ced1cb;
}
